<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo footer__logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                <h1 class="logo__title">pussea</h1>
            </a>
            <p class="footer__desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                voluptatibus.
            </p>

            <p class="footer__help-text">Nhận tin tức và cập nhật về sản phẩm.</p>
            <form action="" class="footer__form">
                <input type="text" class="footer__input" placeholder="Email address" />
                <button class="btn btn--primary">GỬI</button>
            </form>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">Shop</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Tất cả</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Ưu đãi thời trang</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Giảm giá thiết bị điện tử</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Ưu Đãi Nhà Cửa & Đời Sống</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Khuyến Mãi Làm Đẹp</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Hỗ trợ</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Tìm Cửa Hàng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Trạng Thái Đơn Hàng</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Công ty</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Dịch Vụ Khách Hàng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Điều Khoản Sử Dụng</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Quyền Riêng Tư</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Sự Nghiệp</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Các bên đối tác</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Liên hệ</h3>
            <ul class="footer__list">
                <li>
                    <p class="footer__label">Email</p>
                    <a href="mailto:contact@grocerymart.com" class="footer__link"> contact@grocerymart.com </a>
                </li>
                <li>
                    <p class="footer__label">Hotline</p>
                    <a href="tel:18008888" class="footer__link">18008888</a>
                </li>
                <li>
                    <p class="footer__label">Địa chỉ</p>
                    <p class="footer__text">
                        28 Đường Thi Sách, Phường 8, Thành phố Vũng Tầu, Bà Rịa - Vũng Tàu
                    </p>
                </li>
                <li>
                    <p class="footer__label">Khung giờ</p>
                    <p class="footer__text">Thứ Hai đến Thứ Sáu từ 08:00 sáng đến 06:00 chiều</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>

        <div class="footer__socials">
            <a href="#!" class="footer__social-link footer__social-link--facebook">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--youtube">
                <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--tiktok">
                <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--twitter">
                <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="#!" class="footer__social-link footer__social-link--linkedin">
                <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon" />
            </a>
        </div>
    </div>
</div>
