<footer class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col xlg-2-4 lg-2-4 md-6 sm-12 xsm-12">
                <div class="footer__widget">
                    <div class="footer__widget__title">Thông tin liên hệ</div>
                    <div class="footer__widget__content">
                        <div class="infor v-center">
                            <div class="infor__icon v-center">
                                <img src="./assets/icons/location.svg" alt="">
                            </div>
                            <div class="infor__text">69, Hẻm 15 Đ. Trần Văn Hoài, Xuân Khánh, Ninh Kiều</div>
                        </div>
                        <div class="infor v-center">
                            <div class="infor__icon v-center">
                                <img src="./assets/icons/phone.svg" alt="">
                            </div>
                            <div class="infor__text">
                                <p>(84) 97 985 8748</p>
                                <p>(84) 86 985 9757</p>
                            </div>
                        </div>
                        <div class="infor v-center">
                            <div class="infor__icon v-center">
                                <img src="./assets/icons/message-2.svg" alt="">
                            </div>
                            <div class="infor__text">
                                <a href="#!">recommall@gmail.com</a>
                                <a href="#!">datstreetmanfighter@gmail.com</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col xlg-2-4 lg-2-4 md-6 sm-12 xsm-12">
                <div class="footer__widget">
                    <div class="footer__widget__title">Dịch vụ</div>
                    <div class="footer__widget__content">
                        <a href="" class="footer__widget__content__link">Dịch vụ thanh toán</a>
                        <a href="" class="footer__widget__content__link">Bảo mật thanh toán</a>
                        <a href="" class="footer__widget__content__link">Dịch vụ vận chuyển</a>
                        <a href="" class="footer__widget__content__link">Hỗ trợ hoàn tiền</a>
                        <a href="" class="footer__widget__content__link">Câu hỏi thường gặp</a>
                    </div>
                </div>
            </div>
            <div class="col xlg-2-4 lg-2-4 md-6 sm-12 xsm-12">
                <div class="footer__widget">
                    <div class="footer__widget__title">Tài khoản</div>
                    <div class="footer__widget__content">
                        <a href="./profile.html" class="footer__widget__content__link">Hồ sơ</a>
                        <a href="" class="footer__widget__content__link">Danh sách yêu thích</a>
                        <a href="" class="footer__widget__content__link">Lịch sử mua hàng</a>
                        <a href="" class="footer__widget__content__link">Flash Sales</a>
                        <a href="" class="footer__widget__content__link">Phiếu giảm giá</a>
                    </div>
                </div>
            </div>
            <div class="col xlg-2-4 lg-2-4 md-6 sm-12 xsm-12">
                <div class="footer__widget">
                    <div class="footer__widget__title">Thông tin về chúng tôi</div>
                    <div class="footer__widget__content">
                        <a href="" class="footer__widget__content__link">Giới thiệu về recomMall Việt Nam</a>
                        <a href="" class="footer__widget__content__link">Tuyển dụng</a>
                        <a href="" class="footer__widget__content__link">Điều khoản</a>
                        <a href="" class="footer__widget__content__link">Chính hãng</a>
                        <a href="" class="footer__widget__content__link">Liên hệ với truyền thông</a>
                    </div>
                </div>
            </div>
            <div class="col xlg-2-4 lg-2-4 md-6 sm-12 xsm-12">
                <div class="footer__widget">
                    <div class="footer__widget__title">THÔNG TIN MỚI NHẤT</div>
                    <div class="footer__widget__content">
                        <span class="register-text">Đăng kí email của bạn để không bỏ lỡ thông tin mới nhất.</span>
                        <form action="" class="footer__form">
                            <input type="text" class="footer__input" placeholder="Địa chỉ email" />
                        </form>
                        <button style="padding: 10px 25px">ĐĂNG KÍ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-footer">
        <div class="grid wide">
            <div class="last-footer__container v-center">
                <span>© 2024 recomMall. Tất cả các quyền được bảo lưu.</span>
                <img src="./assets/img/logo7.png" alt="">
            </div>
        </div>
    </div>
</footer>