    <div class="app-header">
        <header class="main-header">
            <div class="top-header">
                <div class="grid-header wide-header">
                    <div class="topheader v-center-header">
                        <div class="topheader__left v-center-header">                            
                        </div>
                        <div class="topheader__right v-center-header">
                            <ul class="topheader__right__list v-center-header">
                                <li class="topheader__right__item">
                                    <a href="./profile.html">
                                        <i class="fa fa-user"></i> Hồ sơ
                                    </a>
                                </li>
                                <li class="topheader__right__item">
                                    <a href="#!">
                                        <i class="fa fa-heart"></i> Danh sách yêu thích
                                    </a>
                                </li>
                                <li class="topheader__right__item">
                                    <a href="./shoppingcart.html">
                                        <i class="fa fa-check-square"></i> Thanh toán
                                    </a>
                                </li>
                                <li class="topheader__right__item">
                                    <button id="logoutButton" href="./index.html">
                                        <i class="fa fa-key"></i> Đăng xuất
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot-header">
                <div class="grid-header wide-header">
                    <div class="row-header botheader">
                        <div class="botheader__brand col-mainheader xlg-3 lg-3 md-3 sm-12 xsm-12">
                            <a href="./index.html">
                                <img src="./assets/image/logo9.png" alt="SNS Simen" class="logo-header">
                            </a>
                        </div>
                        <div class="col-mainheader xlg-9 lg-9 md-9 sm-12 xsm-12">
                            <div class="row-header">
                                <div class="col-mainheader xlg-4 lg-4 md-4">
                                    <div class="sns-icon-box v-center-header">
                                        <div class="sns-icon-left v-center-header">
                                            <i class="fa fa-truck"></i>
                                        </div>
                                        <div class="sns-icon-right-content">
                                            <h4>FREESHIP TOÀN CẦU</h4>
                                            <span>Khi mua hàng trên 100$</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-mainheader xlg-4 lg-4 md-4">
                                    <div class="sns-icon-box v-center-header">
                                        <div class="sns-icon-left v-center-header">
                                            <i class="fa fa-arrow-up"></i>
                                        </div>
                                        <div class="sns-icon-right-content">
                                            <h4>GIẢM GIÁ LÊN ĐẾN 20%</h4>
                                            <span>Khi đăng kí thành viên !</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-mainheader xlg-4 lg-4 md-4">
                                    <div class="sns-icon-box v-center-header">
                                        <div class="sns-icon-left v-center-header">
                                            <i class="fa fa-gift"></i>
                                        </div>
                                        <div class="sns-icon-right-content">
                                            <h4>MUA 1 TẶNG 1</h4>
                                            <span>Ưu đại duy nhất hôm nay !</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__menu">
                <div class="grid-header wide-header">
                    <div class="header__menu__container v-center-header">                        
                        <ul class="sub-menu-header v-center-header hide-on-low-PC-mobile-tablet">
                            <li class="sub-menu__item">
                                <a href="./index.html" class="sub-menu__item__link">TRANG CHỦ</a>
                            </li>
                            <li class="sub-menu__item">
                                <a href="" class="sub-menu__item__link sub-menu__item__link--parent">DANH MỤC</a>
                                <ul class="sub-menu__item__children sub-menu__item__children--col-1">
                                    
                                </ul>
                            </li>                            
                            <li class="sub-menu__item">
                                <a href="#footer" class="sub-menu__item__link">THÔNG TIN LIÊN HỆ</a>
                            </li>
                        </ul>
                        <div class="header__menu__right v-center-header">
                            <div class="header__menu__right__search">
                              <i class="fa fa-search"></i>
                              <div class="search__content">
                                <form id="search-form" class="v-center-header">
                                    <input type="text" id="search-input" placeholder="Nhập thông tin cần tìm ..." />
                                    <button type="submit" id="search-button">Tìm kiếm</button>
                                </form>

                              </div>
                            </div>
                            <div
                              class="top-act__group d-md-none"
                              style="
                                border-top: 1px dotted #000;
                                border-bottom: 1px dotted #000;
                                border-radius: 0;
                              "
                            >
                              <div class="top-act__btn-wrap">
                                <a href="./shoppingcart.html">
                                  <button class="top-act__btn">
                                  <i class="fas fa-shopping-cart"></i>
                                  <span class="cart__number">0 </span>
                                </button>
                                </a>
                
                                <!-- Dropdown -->
                                <div class="act-dropdown">
                                  <div class="act-dropdown__inner">
                                    <img
                                      src="./assets/icons/arrow-up.png"
                                      alt=""
                                      class="act-dropdown__arrow"
                                    />
                                    <div class="act-dropdown__top">
                                      <h2 class="act-dropdown__title">
                                        Giỏ hàng:
                                      </h2>
                                      <a
                                        href="./shoppingcart.html"
                                        class="act-dropdown__view-all"
                                        >Xem</a
                                      >
                                    </div>
                                    <div class="row row-cols-3 gx-2 act-dropdown__list">                                    
                                    </div>
                                    <div class="act-dropdown__bottom">                                      
                                      <div class="act-dropdown__row">
                                        <span class="act-dropdown__label">Tạm tính</span>
                                        <span class="act-dropdown__value">$</span>
                                      </div>
                                      <div class="act-dropdown__row">
                                        <span class="act-dropdown__label">Phí vận chuyển</span>
                                        <span class="act-dropdown__value">$10.00</span>
                                      </div>
                                      <div class="act-dropdown__row act-dropdown__row--bold">
                                        <span class="act-dropdown__label">Tổng cộng</span>
                                        <span class="act-dropdown__value">$0</span>
                                      </div>
                                    </div>
                                    <div class="act-dropdown__checkout">
                                      <a
                                        href="./shoppingcart.html"
                                        class="btn btn--primary btn--rounded act-dropdown__checkout-btn"
                                      >
                                        Thanh toán ngay
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
        </header>
    </div>

